body { 
    margin: 0; 
    font-family: Arial, sans-serif;
    background: 
    linear-gradient(135deg, rgba(0, 43, 118, 0.9), rgba(0, 20, 60, 0.8)),
    url("/bg.jpg");
    background-size: cover;
}

/* Sidebar CLOSED by default */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; 
    height: 100vh;
    background: #34495e;
    color: #fff;
    padding-top: 20px;

    /* hide using transform instead of width */
    transform: translateX(-100%);
    transition: transform 0.3s ease;

    overflow-x: hidden;
}

/* Sidebar OPEN */
.sidebar.active {
    transform: translateX(0);
}

/* Topbar shift */
.topbar {
    transition: margin-left 0.3s ease;
}

.topbar.shift {
    margin-left: 250px;
}

/* Content shift */
.content {
    transition: margin-left 0.3s ease;
}

.content.shift {
    margin-left: 250px;
}

/* Links */
.sidebar a {
    display: block;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #2c3e50;
}
.sidebar h4 {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.sidebar h5 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}

/* Topbar */
.topbar {
    height: 60px;
    background: #34495e;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* Content */
.content {
    margin-left: 0;
    margin-top: 60px;
    padding: 10px 20px;
    transition: 0.3s;
    color:white
}
.content h1 {
    font-size: 40px;
    font-weight: bold;
}

/* Move content when sidebar opens */
.content.shift {
    margin-left: 250px;
}
.logos img {
    width: 100px; 
    height: auto; 
    
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3)); 
    margin-bottom: 10px;
    
    
    max-width: 100%;  
}